/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 8, 2014, 1:23:32 PM
    Author     : alejandro.carrasco
*/

#mainContainer {
    width:100%;
    height:100%;
    position: fixed;
}

#photoSwiper {
    background: #149e7d;
    /* set the height of the element which contains what you want to center */
    height: 100%;
    /* these styles are optional, to set width horizontally center the page */
    max-width: 500px;
    margin: 0 auto;
}
#photoSwiper:before, #product {
    /* these are the important styles for the centered element: */
    display: inline-block;
    vertical-align: middle;
}
#photoSwiper:before {
    /* this is the important part for vertical alignment */
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
    margin-left: -0.25em;
}
#roduct {
    /* extra styling */
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0 5% 0.5em 5%;
    width: 90%;
}

#haveIt {
    bottom: 50%;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}

#wantIt {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 20%;
    color: red;
}
#wantIt p {
    transform: rotate(90deg);
    text-align: center;
}

#meh {
    z-index: 100;
    left: 0;
    position: absolute;
    top: 20%;
}
#meh p {
    transform: rotate(90deg);
}

#moreInfo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 100;
    top: 0;
}

.edgeTarget .glyphicon {
    font-size: xx-large;
    opacity: 0.5;
    padding: 0.25ex;
}
