/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 8, 2014, 1:23:32 PM
    Author     : alejandro.carrasco
*/

#mainContainer {
    width:100%;
    height:100%;
    position: fixed;
}

#photoSwiper {
    background: #149e7d;
    /* set the height of the element which contains what you want to center */
    height: 100%;
    /* these styles are optional, to set width horizontally center the page */
    max-width: 500px;
    margin: 0 auto;
}

#photoSwiper:before, .valignContainer {
    /* these are the important styles for the centered element: */
    display: inline-block;
    vertical-align: middle;
}

#photoSwiper:before {
    /* this is the important part for vertical alignment */
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
    margin-left: -0.25em;
}

.valignContainer {
  /* extra styling */
  background: #ddd;
  border-radius: 5px;
  padding: 0 5% 0.5em 5%;
  width: 99%;
}

.unchosen {
    opacity: 0.5;
    font-size: 2.6em;

    transition-property: font-size, width, opacity;
    transition-duration: 0.5s;
}

.chosen {
    text-align: center;
    width: 100%;
    opacity: 1.0;
    font-size: 8.0em;
    
    transition-property: font-size, width, opacity;
    transition-duration: 0.5s;
}

#product {
    /* extra styling */
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#haveIt {
    bottom: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}

#wantIt {
    z-index: 100;
    color: red;
    position: absolute;
    height: 100%;
    right: 0;
    top: 45%;
}
#wantIt p {
    transform: rotate(90deg);
    text-align: center;
}

#meh {
    z-index: 100;
    color: red;
    position: absolute;
    height: 100%;
    left: 0;
    top: 45%;
}
#meh p {
    transform: rotate(90deg);
}

#moreInfo {
    width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 100;
    top: 0;
}

.edgeTarget .glyphicon {
    padding: 0.25ex;
}
